* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assests/background\ photo.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
/* side icon */

.side-icon {
  position: fixed;
  right: 0px;
  top: 25%;
  background-color: #b7b7b7;
  padding: 1%;
  border-radius: 10px 0 0 10px;
  display: none;
}

.icon-twitter{
  color: black;
}

.icon-linkedin{
  color: darkblue;
}
.icon-instagram{
  background: linear-gradient(90deg, purple, rgb(233, 66, 132));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side-icon div {
  padding: 3px;
  /* gap: 50px; */
  /* margin-bottom: 20px; */
}
.side-icon div{
  font-size: 20px;
}

/* ===========NAVBAR============ */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 2%;
  position: sticky;
  top: 0;
  background: #05070c;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

.logo span {
  color: #ffb400;
}

.nav-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  position: relative;
  transition: max-height 0.4s ease-in-out;
}
.nav-links.active {
  max-height: 400px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
}

.nav-links a:hover {
  color: #fff;
}

.donate-btn {
  background: #ffb400;
  padding: 8px 16px;
  border-radius: 20px;
  color: #000 !important;
  font-weight: 600;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  background: none;
  color: white;
  cursor: pointer;
}
/* ==============HERO================ */
.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 8%;
}

.hero-content {
  max-width: 900px;
}

.tagline {
  color: #00c2ff;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 14px;
}

.hero h1 {
  font-size: 52px;
  line-height: 1.2;
}

.gradient {
  background: linear-gradient(90deg, #00e5ff, #ffb400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: #b7b7b7;
  margin: 20px auto;
  max-width: 750px;
  line-height: 1.6;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-primary {
  background: #ffb400;
  color: #000;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.btn-outline {
  border: 1px solid #444;
  color: #fff;
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-outline:hover {
  background: #111;
}

.second-section {
  width: 100%;
  background-color: #000;
}
.digitalSafety {
  padding-top: 1.5rem;
  margin-left: 3rem;
}
.digitalSafety h3 {
  font-size: 3rem;
  line-height: 1;
}
.digitalSafety .need {
  margin-left: 1.5rem;
  color: #ffb400;
}
.digitalSafety p {
  line-height: 1.5;
  color: #b7b7b7;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 300;
}
/* --------section-3---------- */
.third-section {
  background-color: #000;
  display: flex;
  justify-content: center;
}
.current-reality {
  margin-top: 2rem;
  /* height: 60vh; */
  width: 95%;
  border-radius: 10px;
  background: linear-gradient(to right, #171717, #110909);
  padding:1.5rem;
}
.current-reality h3 {
  padding: 0.7rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.current-parent-div {
  display: grid;
  grid-template-columns: repeat(2, 2fr); 
  /* margin-bottom: 2rem; */
  gap: 1rem;

}
.current-div {
  /* margin: 0.7rem; */
  height: 140px;
  background: #000;
  border-radius: 15px;
}

.current-parent-div h2{
  padding: 1rem;
  margin-left: 2rem;
 color: #c6c1c1;

}
.current-parent-div p{
  margin-left: 1rem;
 color: #b7b7b7;
}
.third-section hr{
  margin-top: 2rem;
 background-color: #b7b7b7;
 height: 0.02rem;
 border: none;
  
}
.inclusive{
  text-align: center;
 
}
.para{
  font-size: 1rem;
      color:#ffb400; 
      margin-top: 2rem;
      line-height: 0.3;
}
/* ------------fourth-section-------- */

.fourth-section{
  background-color: #000;
}
.what-we-do{
  padding: 3rem;
  text-align: center;
  line-height: 2;
}
.what-we-do span{
  color: #ffb400;

}
.what-we-do h1{
  font-size: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.what-we-do p{
  display: inline-block;
  color: #b7b7b7;
  /* margin-left: 2rem; */
 background: linear-gradient(to right ,#302812,#5e370c,#c38903 );
 border-radius: 15px;
}

.real-world-challenges{
    /* border: 2px solid white; */
  background: linear-gradient(to right, #171717, #110909);
  display: grid;
   grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}
.safety-awareness{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
}
.awareness-content{
  padding: 1.5rem;
  /* height: 10rem; */
  padding: 1.5rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
  border-radius: 0.7rem;
  /* background:linear-gradient(to right , #3b3b38 , #312f21); */
}
.awareness-image img{
  /* background-image: url(./assests/safety-awareness.jpg); */
  /* background-repeat: no-repeat; */
  /* height: 25rem;
  width: 37rem; */
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 2rem;
  border-radius: 2rem;
  padding: 2rem;
  /* margin-left: 2rem; */
}

@media(max-width:1100px){
  .safety-awareness{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}

/* --------20/feb/2026 */


.work-space-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  background-color: #000;
  justify-items: center;
  gap: 1rem;
}
.work {
  border: 1px solid white;
  height: 10rem;
  width: 25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workshop-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------section initiative */
.main-initiative {
  background-color: black;
  padding: 130px;
  display: flex;
  justify-content: center;
}
.content {
  color: white;
  padding-bottom: 1rem;
}
.button {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.button a {
  text-decoration: none;
}

.initiative-card {
  /* padding: 2rem; */
}
.initiative-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  /* padding: 1rem; */
  border: 1px solid rgb(32, 32, 32);
  border-radius: 0.8rem;
  height: fit-content;
}
.initiative-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.img {
  height: 60%;
  width: 100%;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  /* opacity: 0.7; */
}

.card-description {
  padding: 1rem;
}

.card-description a {
  text-decoration: none;
  padding-top: 3rem;
  display: flex;
  align-content: end;
}
.card-description span {
  font-size: medium;
}

@media (max-width: 828px) {
.initiative-card {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 828px) {
.work-space-main {
    grid-template-columns: 1fr;
  }
}

/* ================================================== */

.team-section{
  background-color: black;
}
.team{
  padding:2rem ;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.team-heading{
  padding-top: 2%;
  text-align: center;
}
.team-heading h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  /* display: inline-block; */
  border-radius: 1rem;
  background: linear-gradient(to right, #a0c6bf, #ab7903);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;

}
.team-ox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 4rem;
}
@media (max-width: 828px) {
.team-ox {
    grid-template-columns: 1fr;
  }
}

.team-box{
  border: 1px solid rgb(51, 50, 50);
  border-radius: 1rem;
  background-color: #0f172a;
  padding: 10%  ;
}
.team-box p{
  color: #b7b7b7;
}
.participate-feature{
  padding: 4rem;
  margin-top: 2rem;
}
.all-feature{
  padding: 3.5rem;
   border: 1px solid rgb(51, 50, 50);
  border-radius: 1rem;
    background-color: #080d19;

}
.participate-feature h1{
  text-align: center;
}
.all-feature-content {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: space-evenly; */
  
}
@media (max-width: 1000px) {
.all-feature-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
.all-feature-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
.all-feature-content {
    grid-template-columns: 1fr;
  }
}
.dot-point{
  background-color: yellow;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 0.2rem;
}
.voluteer{
  display: flex;
  align-items: center;
  
}
.opprtunities{
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

.opprtunities a{
  display: inline-block;
  text-decoration: none;
    border: 1px solid white;
    padding: 1.5rem;
   border-radius: 0.75rem;
color: black;
    background-color: grey;
    font-size: 1rem;
}







/* ============FOOTER============== */
.footer-container {
  /* display: flex; */
  /* justify-content: space-evenly; */
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  /* justify-content: space-around; */
}

/* Links */
footer {
  background-color: black;
  color: white;
}
.footer-col h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 8px 0;
}

.footer-col ul li a {
  text-decoration: none;
  color: #555;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #0d6efd;
}

/* Newsletter */
.newsletter p {
  margin-bottom: 15px;
  color: #555;
}

.newsletter-box {
  display: flex;
  gap: 10px;
}

.newsletter-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.newsletter-box button {
  padding: 10px 18px;
  border: none;
  background: orange;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.newsletter-box button:hover {
  background: rgb(232, 232, 4);
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid #ddd;
  text-align: center;
  /* margin-top: 40px; */
  /* padding-top: 20px; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}
.footer-bottom p span{
  color: orange;
}


/* ==========RESPONSIVE============== */
@media (max-width: 968px) {
  .hero h1 {
    font-size: 40px;
  }
}
@media (max-width: 968px) {
  .menu-toggle {
    display: block;
    padding: 0px 3%;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #05070c;
    flex-direction: column;
    text-align: center;
    display: none;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hero h1 {
    font-size: 32px;
  }
}

/* ======second section========= */
@media (max-width: 630px) {
  .digitalSafety h3 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .digitalSafety {
    margin-left: 0.5rem;
  }
  .digitalSafety .need {
    margin-left: 0.5rem;
    color: #ffb400;
  }
}
/* ==========FOOTER=========== */
/* Mobile */
@media (max-width: 828px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .newsletter-box {
    flex-direction: column;
  }

  .newsletter-box button {
    width: 100%;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

@media(max-width:710px){
    .current-parent-div{
        grid-template-columns: 1fr;
        
    }
}