.our-work-shop {
  padding: 15%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  background-color: black;
}
.workshop-1 {
  /* border: 1px solid black; */
  /* padding: 3%; */
  display: flex;
  background-color: #0f172a;
  border-radius: 1rem;
}
.workshop-image {
  /* border: 2px solid black; */
  width: 30%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  border-radius: 1rem 0rem 0rem 1rem;
  background-size: cover;
}
.workshop-1-image {
  background-image: url(../../assests/our-work-image.jpg);
}
.workshop-2-image {
  background-image: url(../../assests/our-work-image-2.jpg);
}
.workshop-3-image {
  background-image: url(../../assests/our-work-image-3.jpg);
}
.workshop-4-image {
  background-image: url(../../assests/our-work-image-4.jpg);
}
.workshop-5-image {
  background-image: url(../../assests/our-work-image-5.jpg);
}
.workshop-6-image {
  background-image: url(../../assests/our-work-image-6.jpg);
}
.workshop-7-image {
  background-image: url(../../assests/our-work-image-7.jpg);
}

.workshop-1-content {
  /* padding-left: 5%; */
  padding: 5%;
  /* margin: 0; */
}
.workshop-1-content h2 {
  /* font-size: 2rem; */
  color: white;
  margin-bottom: 2%;
}
.workshop-1-content P {
  /* font-size: 1.2rem; */
  color: #b7b7b7;
  margin-bottom: 2%;
}
span {
  color: #b7b7b7;
}
.register-btn {
  display: inline-block;
  padding: 2% 6% 2% 6%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5rem;
  background-color: rgb(88, 88, 211);
  margin: 6% 0% 0% 6%;
  text-align: center;
}
.register-btn a {
  color: white;
  text-decoration: none;
}
.time-and-location {
  display: flex;
  gap: 8%;
}
.time-and-location i {
  color: white;
  /* margin-right: 2%; */
}
.workshop-1:hover {
  border: 1px solid #b7b7b7;
  transition: 1s;
}
@media (max-width: 840px) {
  .workshop-1 {
    display: flex;
    flex-direction: column;
  }
  .workshop-image {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .time-and-location {
    display: flex;
    flex-direction: column;
  }
  .time-and-location span {
    padding: 3%;
    /* margin-top: 3%; */
  }
  .register-btn {
    margin-bottom: 10%;
  }
}

.upcoming {
  /* border: 1px solid white; */
  /* display: inline-block; */
  /* transform: translateY(-400px); */
  /* padding: 0.3% 1% 0.3% 1%; */
  /* border-radius: 0.5rem; */
  /* margin-left: 4%; */
  /* background-color: rgb(226, 225, 225); */
  /* color: rgb(11, 11, 11);
  font-weight: 600;
  font-size: 1.2rem; */
  /* height: 10%; */
}
.upcoming span{
  height: 10px;
  color: white;
  position: absolute;
  top: 38%;
  left: 17%;
}