.gallery{
    background-color: black;
}
 .gallery-img-box{
    overflow: hidden;
    border-radius: 3%;
    background-color: #080d19;

}
.image{
    height: 300px;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-content{
    color: white;
   text-align: center;
   font-size: 1.6rem;
   margin-top: 10px;
    padding: 3%;

}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 5%;
}
 .gallery-img-box:hover{
    border: 2px solid rgb(192, 171, 171);
    box-shadow:  0px 6.4px 1.8rem rgba(185, 183, 183, 0.6);
    transition: 1s ease;
    /* border-radius: 10px;  */
 }
 .gallery-heading{
    background-color: black;
    margin-top: 2%;
    text-align: center;
 }
@media(max-width:1100px){
    .gallery{
        grid-template-columns: repeat(2 ,1fr);
    }
}
@media(max-width:630px){
    .gallery{
        grid-template-columns: 1fr;
    }
}