

/* who we are */

.who-we-are{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    color: #b7b7b7;
    background-color: #0f172a;
}
.who-we-are-content{
    height: 100%;
    padding: 5%;
    width: 100%;
}
.para1{
    background-color: black;
    padding: 1%;
    border-radius: 20px;
}

.head1{
    margin: 1% 0;
}

.head1 span{
    color: blue;
}

.who-we-are-img{
    height: 100%;
    padding: 5%;
    width: 100%;
}

.who-we-are-img img{
    height: 90%;
    width: 100%;
}
@media(max-width:990px){
    .who-we-are{
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* why we exist */

.why-we-exist{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    /* height: 100%; */
    color: #b7b7b7;
    background-color: #151b28;
    align-items: center;
}

.why-we-exist-img{
    height: 95%;
    padding: 5%;
    width: 100%;
}

.why-we-exist-img img{
    height: 90%;
    width: 100%;
}

.why-we-exist-content{
    height: 100%;
    padding: 5%;
    width: 100%;
}

.why-we-exist-content .head2{
    margin: 1% 0;
}

.why-we-exist-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5%;
    gap: 10%;
}

.why-we-exist-card{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #141313;
    align-content: center;
    padding: 3%;
    display: inline;
}

.why-we-exist-card .points{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: yellow;
    /* padding-top: 45%; */
    
}

.why-we-exist-card-content {
    padding-left: 2%;
}

.why-we-exist-content i{
    /* padding-top: 5%; */
}

@media(max-width:990px){
    .why-we-exist{
        grid-template-columns: 1fr;
    }
    .why-we-exist-img{
        padding-bottom: 0;
    }
    .why-we-exist-content{
        padding-top: 0;
    }
}

@media(max-width:800px){
    .why-we-exist-cards{
        grid-template-columns: 1fr;
        padding-bottom: 20%;
    }
}

@media(max-width:400px){
    .why-we-exist-cards{
        padding-bottom: 60%;
    }
}

/* mission and vision */

.misAndVis{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    color: #b7b7b7;
    background-color: #0f172a;
    padding: 10%;
    gap: 10%;
}
@media(max-width:600px){
    .misAndVis{
        grid-template-columns: 1fr;
        padding-bottom: 20%;
    }
}

/* our values */

.our-values{
    color: #b7b7b7;
    background-color: #151b28;
    align-items: center;
    padding: 5%;
}

.head4{
    padding: 1%;
    font-size: 2rem;
}

.our-values-contents{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 3%;
}

.our-values-content-icon{
    font-size: 1.3rem;
    padding: 2%;
    display: flex;
    justify-content: center;
}
.our-values-content-name{
    display: flex;
    justify-content: center;
}

@media(max-width:800px){
    .our-values-contents{
        grid-template-columns: repeat(3,1fr);
        gap: 8%;
    }
}

@media(max-width:330px){
    .our-values-contents{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 15%;
    }
}

@media(max-width:248px){
    .our-values-contents{
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 50%;
    }
}

/* Leadership & Governance */

.led-gov-main{
    background-color: #0f172a;
    padding: 5%;
}


.led-gov{
    color: #b7b7b7;
    background-color: #151b28;
    align-items: center;
    padding: 5%;
    border-radius: 15px;
}

.head5{
    padding: 1%;
}
 
.led-gov p{
    padding: 1%;
    padding-top: 0;
}

.led-gov-anc{
    padding-top: 5%;
}

.led-gov a{
    text-decoration: none;
}