.our-team {
  /* background-color: black; */
  /* color: white ; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
  padding: 10%;
}

.team-card {
  border: 1px solid black;
  border-radius: 0.7rem;
  /* height: 60%; */
  /* width: 26%; */
  background-color: #0f172a;
  color: #b7b7b7;
}
.team-card:hover{
    border: 1px solid white;
    transition: 1s ease;
}

.image-card {
  height: 20rem;
  /* width:100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0.7rem 0.7rem 0 0;
  opacity: 0.6;
}
.aman {
  background-image: url(../assests/Amansharma.jpg);
}
.abhishek-iamge {
  background-image: url(../assests/abhisek.jpg);
}
.shreyansh {
  background-image: url(../assests/shreyansh.jpg);
}
.ankit {
  background-image: url(../assests/ankit.jpg);
  opacity: 10;
}
.ashirwad {
  background-image: url(../assests/ashirwad.jpg);
}

.abhishekpal {
  background-image: url(../assests/abishekpal.jpg);
}
.image-content {
  padding: 25px;
}
.image-content h1 {
  /* margin: 0; */
  color: rgb(196, 195, 195);
  margin-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.image-content span {
  color: rgb(3, 118, 118);
  font-weight: 600;
}
.image-content p{
    margin-top: 10px;
    line-height: 1.4;
}
.hrTag{
    margin-top: 1.5rem;
     border: 0.002rem solid rgb(63, 62, 62);
     /* background-color: rgb(107, 106, 106); */
}
.social-account i{
    font-size: 1.5rem;
    margin-left: 15px;
    margin-top: 0;
    padding: 10px;
    margin-bottom: 5px;
}
@media(max-width:1200px){
    .our-team{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:800px){
    .our-team{
        grid-template-columns: 1fr;
    }
}